.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero .container{
  width: 30%;

  margin-left: 13%;
}
.hero .container h1{
color: #b415ff;
font-size: 30px;
}



.hero img{
    margin-top: 50px;
    }
    .hero h1{
      
        width: 69%;
        font-size: 20px;
        font-weight: 600;
    }
    
    .hero p{
        width: 50%;
        text-align: center;
        justify-content: center;
        font-size: 21px;
        font-weight: 390;
    }
    .hero-action{
display: flex;
align-items: center;
gap: 25px;
font-size: 24px;
font-weight: 300;
margin-bottom: -40px;
    }
    .hero-connect{
        padding: 14px 15px;
        border-radius: 50px;
        background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
        cursor: pointer;
}
.hero-resume{
    padding: 14px 60px;
    border-radius: 50px;
    border: 2px solid rgb(61, 42, 168);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid rgb(18, 190, 95);
}
.hero-resume:hover{
    border-color: #19d28e;

}




  @media(max-width:1300px){
  
.hero img{
    height: 240px;
}  
.container{
    position: relative;
    left: 30px;
}
.detail{
    font-size: 90px;
}
.hero p{
    font-size: 18px;
    position: relative;
    left: -12px;
}
.hero-connect{
    position: relative;
    left: -5px;
    border-radius: 50px;
   padding: 12px 6px;
   font-size: 16px;  
 
}
.hero-resume{
 position: relative;
 left: -16px;
    border-radius: 50px;
    padding: 12px 32px;
    font-size: 16px;  
}

.hero .container h1{
  font-size: 25px;
}
.hero .container{
  width: 100%;
justify-content: center;
text-align: center;
 
} 
  
 