.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0px 30px;
  font-size: 40px;
  font-weight: 400;
}
.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contact-section {
  display: flex;
  gap: 150px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-left h1 {
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 16px;
  line-height: 30px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.contact-right label {
  color: #d8d8d8;
  font-size: 17px;
  font-weight: 600;
}
.contact-right input {
  border: none;
  width: 400px;
  height: 45px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-right textarea {
  width: 470px;
  height: 140px;
  border: none;
  padding: 15px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 22px;
  padding: 10px 40px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


/* ---- Media Query ---- */

@media (min-width: 1029px) {

}

@media (max-width: 960px) {
  .contact-title h1 {
    font-size: 26px;
    font-weight: 300;
  }
  .contact-title img {
    width: 54px;
    margin-right: 19px;
  }
  .contact-left h1 {
    font-size: 30px;
  }
  .contact-left p {
    font-size: 13px;
  }
  .contact-right input {
    width: 80%;
    font-size: 15px;
  }
  .contact-right textarea {
    width: 350px;
    height: 140px;
  }
  

}

@media (max-width: 770px) {
  .contact {
    gap: 50px;
    margin: 50px 48px;
    align-items: start;
  }
  .contact-title h1 {
    padding: 0px;
    font-size: 32px;
    font-weight: 400;
  }
  .contact-title img {
    width: 74px;
    margin-right: -20px;
  }
  .contact-section {
    flex-direction: column;
    gap: 130px;
  }
  .contact-left h1 {
    font-size: 40px;
  }
  .contact-left p {
    font-size: 17px;
  }
  .contact-detail {
    gap: 12px;
  }
  .contact-detail img {
    width: 20px;
  }
  .contact-right label {
    font-size: 16px;
    font-weight: 500;
  }
  .contact-right input {
    width: 100%;
    font-size: 15px;
  }
  .contact-right textarea {
    width: 100%;
    height: 50%;
    font-size: 20px;
  }
  .contact-submit {
    font-size: 15px;
    padding: 10px 30px;
  }
}
