.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2px 170px;
}
.slide-from-top{
  animation: slideFromTop 2.8s ease-out;
}

.nav-mob-close {
  display: none;
}
.nav-mob-open {
  display: none;
}

.nav-menu {
  position: relative;
  top: 36px;
  left: 1%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font: 20px;
}
.logo {
  position: relative;
  padding-right: 30px;
  height: 40px;
  top: 40px;
}
.nav-connect {
  position: relative;
  left: 10%;
  top: 33px;
  padding: 14px 15px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.15);
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-menu li img {
  display: flex;
  margin: auto;
}
.anchor-link {
  text-decoration: none;
  color: white;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----- Media Query ----- */


@media (min-width: 1170px) {
}

@media (max-width: 1170px) {
  .nav-menu li {
    font-size: 16px;
  }

  .navbar {
    display: flex;
    margin: 2px 17px;
  }
  .logo {
    height: 37px;
  }
  
  .nav-connect {
    left: 0.1%;
    font-size: 17px;
  }
  .nav-menu li img {
    width: 38px;
  }
}

@media (max-width: 870px) {
  .logo {
    height: 25px;
    margin-right: 0%;
  }
  .nav-menu li {
    font-size: 12px;
  }
  .nav-connect {
    margin-left: 0%;
    left: 2%;
    font-size: 15px;
  }
  .nav-menu li img {
    width: 30px;
  }
}

@media (max-width: 780px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  .slide-from-top{
    animation: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    top: 6px;
    left: 0px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 7px;
    left: 122px;
    width: 22px;
    cursor: pointer;
  }
  .logo {
    position: absolute;
    right: 0px;
    top: 3px;
    height: 32px;
  }
  .nav-menu {
    position: fixed; /* Changed to fixed to keep it off-screen */
    flex-direction: column;
    align-items: start;
    left: -350px;
    top: 0px;
    gap: 40px;
    background-color: #1f0016;
    width: 150px;
    height: 100%;
    z-index: 2;
    transition: left 0.5s ease; /* Added transition for left property */
  }
  
  .nav-menu li {
    font-size: 20px;
    padding-left: 0px;
    flex-direction: row;
    gap: 17px;
  }
}
@media (max-width: 285px) {
  .navbar .logo{
    
    height: 20px;
  }
   .navbar .nav-mob-open{
   height: 15px;
  }
}